/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/**********Custom Code *************/
/*.align{
    width:800px;
    margin:0 auto;
    text-align: center;
}*/
h1{
    font-size: 50px;
    padding:35px;
    letter-spacing: 3px;
    text-align: center;    
}   

hr{
    border-top: 1px dotted;
    width:500px;
    margin-bottom: 60px;
    margin-left: 600px;
    
    
    
}
h2{
    font-size: 36px;
    padding:20px;
    margin-top: 20px;
    letter-spacing: 3px;
    text-align: center;
}    

h3{
    font-size: 18px;
    letter-spacing: 2px;
    word-spacing: 5px;
    margin-bottom: 40px;
    padding:0px;
    text-align: center;
}
.box{
    margin:auto;
    width:50%;
    margin-left: 700px;
       
}

.box-margin{

    padding:20px;
    background-color:palevioletred;
    display: inline-block;
}
.box-padding{
    padding:20px;
    background-color: rgb(145, 145, 224);
    display:inline-block;
    border:3px solid black;
}
.box-content{
    width:200px;
    height:200px;
    background-color: rgb(248, 248, 192);
    
}

.dot{
    padding:20px;.
    margin-top: 40px;
    margin-left:650px;
}
.dot-margin{
    height: 10px;
    width: 10px;
    background-color:pink;
    border-radius: 50%;
    display: inline-block;
       
}
.dot-border{
    height: 10px;
    width: 10px;
    background-color:black;
    border-radius: 50%;
    display: inline-block;
       
}
.dot-padding{
    height: 10px;
    width: 10px;
    background-color:rgb(149, 218, 245);
    border-radius: 50%;
    display: inline-block;
       
}
.dot-content{
    height: 10px;
    width: 10px;
    background-color: rgb(217, 255, 217);
    border-radius: 50%;
    display: inline-block;
       
}
span{
    font-size: 15px;
    letter-spacing: 2px;
    text-transform: capitalize;
    padding: 10px;
}

/***** no border boxes *************/
.grey-box{
    width:120px;
    height:40px;
    background-color: rgb(219, 217, 217);
    display: inline-block;
    margin:0 auto;
     padding: 20px;
}
.space{
    margin-right: 10px;
}

.grey-box1{
    width:120px;
    height:40px;
    background-color: rgb(219, 217, 217);
    display: inline-block;
    padding: 20px;
    margin:0 auto;
    border:1px solid black;
    margin-right: 10px;

}
/***Outer border ****/
.border1
{
    
    padding:10px;
    border:1px solid black;
    display:inline-block;
    margin-bottom: 20px;
    margin-left: 600px;
}
.border2{
    width:500px;
    height:170px;
    padding:10px;
    border:1px solid black;
    display:inline-block;
    margin-bottom: 20px;
    margin-left: 600px;
}



