/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*******************Custom Code************/
/**Containers and colors*****/
.container{
    width:90%;
    height:500px;
    margin:0 auto;
}
.color1{
    
    background-color: rgb(42, 42, 51);
    
}
.color2{
    
    background-color: rgb(90, 90, 136);
    
}
.color3{
    
    background-color: rgb(76, 89, 146);
    
    
}
.color4{
   
    background-color: rgb(92, 107, 175);
}

/** Text inside Containers**/

.heading{
    text-align: center;
}
h1{
    font-size: 36px;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}
h2{
    color:white;
    font-size: 26px;
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 80px;
    padding-bottom: 20px;
    margin-left: 100px;
    
}
p{
    font-size: 16px;
    color:white;
    display:inline-block;
    
    padding:10px;
    
}
.text{
    text-transform: capitalize;
    color:white;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 36px;
    margin-left:100px;
    margin-top: 200px;
}
hr{
    /*width:800px;*/
    margin:20px 100px;
    border: 0.5px solid rgb(131, 130, 130);
    
}
.text2{
    color: rgb(151, 149, 149);
    font-size: 14px;
    text-transform: uppercase;
    margin-left:100px;
    padding: 10px;
    letter-spacing: 2px;
}

img{
    width:200px;
    height:200px;
    margin-left:150px;
    border-radius: 50%;
}
.paragraph{
    margin-left: 100px;
    letter-spacing: 2px;
    padding: 20px;

}
.learn-more{
    margin-left: 100px;
    text-transform: uppercase;
    color:white;
    font-weight: bold;
    padding:20px;
}
.footer{
    width:90%;
    height:100px;
    margin:0 auto;
    background-color: rgb(42, 42, 51);
      
}
.text-footer{
    font-size: 18px;
    padding-top: 100px 0;
    display: inline-block;
    color: grey;
}